<section class="banner">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h2>SIGN IN</h2>
                <form [formGroup]="form1" (ngSubmit)="onSubmit()">

                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="text" formControlName="emailId" class="form-control"
                            [ngClass]="{'is-invalid':submitted && f.emailId.errors}" />
                        <div *ngIf="submitted && f.emailId.errors" class="lbl-err">
                            <div *ngIf="f.emailId.errors.required"> email is required </div>
                            <div *ngIf="f.emailId.errors.pattern">Please Enter valid Email!!</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" formControlName="password" class="form-control"
                            [ngClass]="{'is-invalid':submitted && f.password.errors}" />
                        <div *ngIf="submitted && f.password.errors" class="lbl-err">
                            <div *ngIf="f.password.errors.required">password is required</div>
                            <div *ngIf="f.password.errors.pattern">Enter valid password.</div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success">Sign in!</button>
                </form>
            </div>
        </div>
    </div>
</section>