.lbl-err{
    color:red;
   }
   body{
    margin:0;
    background-color: #f9f9f9;
    font-family: sans-serif;
    user-select: none;
    }
    .lbl-err{
    color:red;
    }
    .banner{
        position: absolute;
        top:0;
        height: 100%;
        width:100%;
        /* background-image: url("2.jpg"); */
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .container{
        padding:2rem;
        border-radius:5px;
        background-color:rgba(255,255,255,0.9);
        box-shadow: 0 0 128px 0 rgba(0,0,0,0.55);
    }
    h2{
    margin-top:0;
    }